{% if app.request.attributes.has('category') %}
    {% set category = app.request.attributes.get('category') %}
{% endif %}
<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Gokhan Ustuner">
        <title>{% block title %}{% endblock %} - Hürriyet Haberleri, Hürriyet Gazetesi Haberleri</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{{ asset('bootstrap-3.3.7/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('bootstrap-3.3.7/css/offcanvas.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
        <![endif]-->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse">
        {% block navigation %}
            <div class="container">
                <div class="navbar-header">
                    <a{% if app.request.attributes.get('_route') == 'homepage' %} style="color: #ffffff;"{% endif %} class="navbar-brand" href="/">Hürriyet Haberleri</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if category is defined and category == 'gundem' %} class="active"{% endif %}><a href="/gundem">Gündem</a></li>
                        <li{% if category is defined and category == 'dunya' %} class="active"{% endif %}><a href="/dunya">Dünya</a></li>
                        <li{% if category is defined and category == 'ekonomi' %} class="active"{% endif %}><a href="/ekonomi">Ekonomi</a></li>
                        <li{% if category is defined and category == 'kultur-sanat' %} class="active"{% endif %}><a href="/kultur-sanat">Kültür Sanat</a></li>
                        <li{% if category is defined and category == 'yasam' %} class="active"{% endif %}><a href="/yasam">Yaşam</a></li>
                        <li{% if category is defined and category == 'spor' %} class="active"{% endif %}><a href="/spor">Spor</a></li>
                        <li{% if category is defined and category == 'son-dakika' %} class="active"{% endif %}><a href="/son-dakika">Son Dakika</a></li>
                        <li{% if category is defined and category == 'yazarlar' %} class="active"{% endif %}><a href="/yazarlar">Yazarlar</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        {% endblock %}
        </nav><!-- /.navbar -->
        {% block container %}{% endblock %}
        <hr>
        <footer>
            <div class="container">
                {% block footer %}
                    <p>© 2016 Company, Inc.</p>
                {% endblock %}
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
