{% extends "::base.html.twig" %}
{% block title %}{{ response.Title }}{% endblock %}
{% block description %}{{ response.Description }}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/hh.css') }}" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <h1 class="newsPage title">{{ response.Title }}</h1>
                        {% if response.Files.0.FileUrl is defined %}
                            <img class="newsPage image" src="{{ response.Files.0.FileUrl }}">
                            <br><br>
                        {% endif %}
                        <p class="newsPage description lead">
                            <strong>{{ response.Description }}</strong>
                        </p>
                        {{ response.Text|raw }}
                        {%  for label in response.Tags %}
                            <span class="label label-info">{{ label }}</span>
                        {% endfor %}
                    </div><!--/.col-xs-6.col-lg-4-->
                </div><!--/row-->
            </div><!--/.col-xs-12.col-sm-9-->
        </div><!--/row-->

    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ asset('bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('bootstrap-3.3.7/js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ asset('bootstrap-3.3.7/js/offcanvas.js') }}"></script>
{% endblock %}