{% extends '::base.html.twig' %}
{% block title %}Son Dakika Haberleri{% endblock %}
{% block description %}Son Dakika Haberleri - Hürriyet Haberleri, Hürriyet Gazetesi Haberleri{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/hh.css') }}" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 top-news">
                {% for item in response.articles|slice(0, 4) %}
                    <div class="col-xs-12 col-sm-3 top-news-container{% if loop.last %} last{% endif %}">
                        <a class="news-link" href="/{{ item.Url|split('/').3 }}">
                            {% if item.Files.0.FileUrl is defined %}
                                <img width="50" class="homepage-items top-news image" src="{{ item.Files.0.FileUrl }}">
                            {% else %}
                                <img src="http://i.hurimg.com/i/hurriyet/90/300x170/57eb6af50f254441f0c36a7f.jpg" alt="{{ item.Title }}" class="homepage-items top-news image" itemprop="">
                            {% endif %}
                            <noscript></noscript>
                            <span class="homepage-items top-news title">{{ item.Title|truncate(75, true) }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9 wrapper">
                <!-- Begin Slider -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for i in range(0, 9) %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ i }}"{% if i == 0 %} class="active"{% endif %}>{{ i + 1 }}</li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for item in response.articles|slice(4, 10) %}
                            <div class="item{% if loop.index == 1 %} active{% endif %}">
                                <a href="/{{ item.Url|split('/').3 }}">
                                    {% if item.Files.0.FileUrl is defined %}
                                        <img class="homepage-items carousel-image" src="{{ item.Files.0.FileUrl }}">
                                    {% else %}
                                        <img class="homepage-items carousel-image" src="http://i.hurimg.com/i/hurriyet/90/300x170/57eb6af50f254441f0c36a7f.jpg" alt="{{ item.Title }}" class="homepage-items image" itemprop="">
                                    {% endif %}
                                    <div class="carousel-caption">
                                        <h2>{{ item.Title }}</h2>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- End slider -->
                {% for item in response.articles|slice(18) %}
                    {% if loop.index0 is divisibleby(2) %}
                    <div class="row list-news-line">
                    {% endif %}
                    <div class="col-xs-6 col-lg-6 homepage-items news-container{% if loop.index0 is divisibleby(2) %} odd{% else %} even{% endif %}">
                        <a class="news-link" href="/{{ item.Url|split('/').3 }}">
                            {% if item.Files.0.FileUrl is defined %}
                                <img class="homepage-items image" src="{{ item.Files.0.FileUrl }}">
                            {% else %}
                                <img src="http://i.hurimg.com/i/hurriyet/90/300x170/57eb6af50f254441f0c36a7f.jpg" alt="{{ item.Title }}" class="homepage-items image" itemprop="">
                            {% endif %}
                            <noscript></noscript>
                            <span class="homepage-items title">{{ item.Title }}</span>
                            <p class="homepage-items description">{{ item.Description|truncate(100, true) }}</p>
                            {#<p class="homepage-items read-more"><a class="btn btn-default" href="/{{ item.Url|split('/').3 }}" role="button">Devamını Oku »</a></p>#}
                        </a>
                    </div><!--/.col-xs-6.col-lg-4-->
                    {% if loop.index is divisibleby(2) %}
                    </div><!--/row-->
                    {% endif %}
                {% endfor %}

            </div><!--/.col-xs-12.col-sm-9-->
            <div class="col-xs-12 col-sm-3 right-wrapper">
                {% for item in response.articles|slice(14, 4) %}
                    <div class="col-xs-3 col-lg-12 right-news-container">
                        <a class="news-link" href="/{{ item.Url|split('/').3 }}">
                            {% if item.Files.0.FileUrl is defined %}
                                <img class="homepage-items right-news image" src="{{ item.Files.0.FileUrl }}">
                            {% else %}
                                <img src="http://i.hurimg.com/i/hurriyet/90/300x170/57eb6af50f254441f0c36a7f.jpg" alt="{{ item.Title }}" class="homepage-items right-news image" itemprop="">
                            {% endif %}
                            <noscript></noscript>
                            <span class="homepage-items right-news title">{{ item.Title|truncate(25, true) }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div><!--/row-->
    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ asset('bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('bootstrap-3.3.7/js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ asset('bootstrap-3.3.7/js/offcanvas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/hh.js') }}"></script>
{% endblock %}