body {
    font-size: 16px;
    background: #e5e5e5;
}

/*.row {*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
/*}*/

.wrapper {
    width: 72%;
    padding-right: 10px;
}

.container {
    width: 960px;
}

.navbar-inverse {
    background-color: red;
    border-color: red;
}

.navbar-inverse .navbar-nav li a {
    color: #ffffff;
}

.navbar-header {
    border-bottom-color: #ffffff;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    margin-right: 16px !important;
}

.navbar-header a {
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand {
    padding: 15px 0 15px 15px;
    color: #ffffff !important;
}

.navbar-nav li a {
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.navbar-inverse .navbar-nav .active a {
    background-color: red !important;
    border-bottom-color: #ffffff;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    margin-right: 0 !important;
}

.navbar-nav li a:hover {
    border-bottom-color: #ffffff;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

/*.nav li a {*/
    /*padding: 10px 17px;*/
/*}*/
.homepage-items.news-container {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background: #ffffff;
    width: 49.5%;
}

.homepage-items.news-container a.news-link,
.right-news-container a.news-link,
.top-news-container a.news-link {
    text-decoration: none;
    color: #000000;
    display: block;
}

.homepage-items.news-container a.news-link:hover,
.right-news-container a.news-link:hover,
.top-news-container a.news-link:hover {
    text-decoration: none;
    color: #ff0000;
}

.top-news-container a.news-link {
    height: 200px;
}

.top-news-container a.news-link:hover {
    border-bottom: 5px solid #ff0000;
}

.homepage-items.news-container.odd {
    margin-right: 1%;
}

/*.homepage-items.news-container.even {*/
    /*margin-left: 0.4%;*/
/*}*/

.homepage-items.title {
    max-height: 48px !important;
    min-height: 48px;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 8px;
    overflow: hidden !important;
    padding: 0 2%;
}

.homepage-items.description {
    max-height: 78px !important;
    min-height: 78px;
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 0 2%;
}

.homepage-items.read-more {
    padding: 0 2%;
}

.homepage-items.image {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.homepage-items.carousel-image {
    width: 100% !important;
    height: 400px !important;
}

.newsPage.image {
    width: 100% !important;
}

.carousel-indicators li {
    text-indent: 0 !important;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    margin: -1px;
    text-align: center;
    padding-top: 2px;
}

.carousel-indicators li.active {
    width: 28px;
    height: 28px;
    color: black;
    margin: -1px;
    text-align: center;
}

.carousel-indicators {
    left: 25%;
    bottom: 4px;
}

.carousel-caption {
    right: 5%;
    left: 5%;
}

#carousel-example-generic {
    margin-bottom: 10px;
}

.list-news-line {
    margin-right: 0;
    margin-left: 0;
}

.right-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 26.5%;
}

.right-news-container {
    background-color: #ffffff;
    height: 92.5px;
    margin-bottom: 10px;
    padding: 0 1% 0 1%;
}

.right-news.image {
    width: 50%;
    height: 74px;
    float: right;
    padding-top: 2%;
}

.right-news.title {
    width: 50%;
    min-height: 50px;
    max-height: 74px !important;
}

.top-news {
    width: 960px;
}

.top-news-container {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 10px;
    height: 200px;
    width: 224.5px;
    margin-right: 10px;
}

.top-news-container.last {
    margin-right: 0;
}

.top-news.image {
    width: 100%;
    height: 110px;
}

.top-news.title {
    width: 100%;
    max-height: 70px !important;
}

.navbar {
    margin: 0 !important;
}

body {
    padding-top: 62px;
}

footer {
    background-color: #ff0000;
    color: #ffffff;
}